<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/css/navbar.css" rel="stylesheet" />
    <link href="~/Assets/css/sb-admin.min.css" rel="stylesheet" />



</head>
<body>
    <div>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background:white;">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">

            <img src="~/Assets/img/logo.png" />

            <strong> USDP Unterstützende Systeme Digitale Pathologie</strong>
        </a>
        <div class="collapse navbar-collapse"  id="navbarResponsive">

            @Html.Partial("_LoginPartial")

        </div>
    </nav>

    </div>

    <div id="responsive-admin-menu">


        <!--Menu-->
        <div id="menu">
            <a title="Schärfe-Kontrolle">
                <span><strong>Schärfe-Kontrolle</strong>
                </span>
            </a>

            <a href="@Url.Action("Index","ControlPanel")" title="Schärfe-Test"><i class="fa fa-desktop"></i><span> Schärfe-Test</span></a>
            <a href="@Url.Action("Index","Dashboard")" title="Dashboard"><i class="fa fa-dashboard"></i><span> Dashboard</span></a>
            <a href="@Url.Action("Index","Manage")" title="Profile"><i class="fa fa-user"></i><span> Profile</span></a>

            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
            <a title="Administrierung" class="submenu" name="media-sub">
                <i class="fa fa-cogs"></i><span>
                    <strong>Administration</strong>
                </span>
            </a>
            <!-- Sub Menu -->
            <div id="media-sub" style="display: none;">
                
                <a href="@Url.Action("Index","AdminDashboard")" title="Statistiken">
                    <i class="fa fa-line-chart"></i><span>
                        Admin-Dashboard
                    </span>
                </a>

                <a href="@Url.Action("Index","AdminConsole")" title="Registrationsfreigabe">
                    <i class="fa fa-terminal"></i><span>
                        Admin-Konsole
                    </span>
                </a>

                <a href="@Url.Action("Index","Management")" title="Management">
                    <i class="fa fa-cubes"></i><span>
                        Management
                    </span>
                </a>
                <a href="@Url.Action("Index","SharpnessResearch")" title="Forschung -> Schärfe">
                    <i class="fa fa-flask"></i><span>
                        Forschung -> Shärfe
                    </span>
                </a>
            </div>
            }
          </div>
            
       </div> 
  

    <div class="content-wrapper">
        <div class="container-fluid">


            <div class="row">
                <div class="col-12" style="margin-top:60px">
                    @RenderBody()
                </div>
            </div>
        </div>

        
        
        <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
        <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="~/Assets/js/sb-admin.min.js"></script>
        <script src="~/Assets/js/navbar.js"></script>
        @RenderSection("scripts", required: false)

   </div>
</body>
</html>