@model SharpnessControlWebApp.Models.SharpnessViewModels
@{
    ViewBag.Title = "Schärfe-Kontrolle. Einstellungen.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/css/spinner.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
        $(document).ready(function () {
            $('#btnSubmit').click(function () {
                $('.spinner').css('display', 'block');
            });
        });
</script>





    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Einstellungen für den Schärfe-Test</strong>
            </div>
            <div class="card-body">

                <div id="pay-invoice">
                    <div class="card-body">
                        <div class="card-title">

                        </div>
                        <hr>
                        <form action="" method="post" enctype="multipart/form-data">





                            <div class="row form-group">

                                <div class="col-12 col-md-12">
                                    @Html.DropDownListFor(model => model.Stain.Name, (IEnumerable<SelectListItem>)ViewBag.Stains, "Färbung", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-12 col-md-12">
                                    @Html.DropDownListFor(model => model.Organ.Name, (IEnumerable<SelectListItem>)ViewBag.Organs, "Organ", new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="row form-group">
                                <div class="col-12 col-md-12">
                                    @Html.DropDownListFor(model => model.Tissue.Name, (IEnumerable<SelectListItem>)ViewBag.Tissues, "Gewebeart", new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">

                                @Html.TextBoxFor(m => m.WSI.Titel, new { @class = "form-control", @placeholder = "Titel", @type = "text" })

                            </div>
                            <div class="form-group">

                                @Html.TextAreaFor(m => m.WSI.Description, new { @class = "form-control", @placeholder = "Beschreibung", @type = "text" })

                            </div>




                            <div class="row form-group">
                                <div class="col col-md-3"><label for="file-input" class=" form-control-label">WSI laden</label></div>
                                <div class="col-12 col-md-12"><input type="file" value="Durchsuchen"  name="file" id="file" class="form-control-file"></div>
                            </div>


                            <input type="submit" value="Schärfe-Test durchführen" class="btn btn-primary btn-sm" id="btnSubmit">

                            <div class="spinner" style="display:none">
                                <div class="center-div">
                                    <div class="inner-div">
                                        <div class="loader"></div>
                                    </div>
                                </div>
                            </div>





                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- .card -->
    </div><!--/.col-->



