
@{
    ViewBag.Title = "Benutzeraktivität";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Assets/vendor/chart.js/Chart.bundle.min.js"></script>
<link href="~/Assets/css/ScrollbarTable.css" rel="stylesheet" />

<div class="row">


    <div class="col-xl-4">
        <div class="card-body" style="background-color:green">
            @if (HttpRuntime.Cache["LoggedInUsers"] != null)
            {
                var loggedOnUsers = HttpRuntime.Cache["LoggedInUsers"] as Dictionary<string, DateTime>;
                <h5 class="card-title" style="color:white">Haben sich grade angemeldet</h5>
                <table style="background-color:white;color:black;">
                    <thead>
                        <tr>

                            <th scope="col">Username</th>
                            <th scope="col">LogIn</th>
                        </tr>
                    </thead>
                    <tbody>



                        @foreach (var item in loggedOnUsers)
                        {
                            <tr>

                                <td>@item.Key</td>
                                <td>@item.Value</td>
                            </tr>
                        }


                    </tbody>
                </table>
            }
            else
            {
                <h5 style="color:white">Leider im kurzem hat sich keiner angemeldet</h5>
            }
        </div>
    </div>


    <div class="col-xl-4">
        <div class="card-body" style="background-color:#5500ff">

            <h5 class="card-title" style="color:white">
                Insgesamt <span class="badge badge-success">+ @ViewBag.TodayNumber</span>
                <br />
                Heute haben sich registriert:
            </h5>

            <div class="table-wrapper-scroll-y">

                <table class="table table-bordered table-striped">


                    @foreach (var item in ViewBag.Today)
                     {

                        <tr>
                            <p style="text-align:center;color:white"> @item.Username</p>

                        </tr>
                        

                    }

                    </table>
                </div>


            </div>
        </div>


    <div class="col-xl-4">
        <div class="card-body" style="background-color:#006699">

            <h5 class="card-title" style="color:white">
                Insgesamt <span class="badge badge-success">+ @ViewBag.MonthNumber</span>
                <br />
                Im laufenden Monat haben sich registriert:
            </h5>


            <div class="table-wrapper-scroll-y">

                <table class="table table-bordered table-striped">

                    @foreach (var item in ViewBag.Month)
                     {

                        <tr>
                            <p style="text-align:center;color:white"> @item.Username</p>
                        </tr>
                        


                    }
                    </table>
                </div>

            </div>
        </div>


    <div class="col-xl-12 card mb-4">
        <div class="card-header">
            Die Benutzer warten auf die Freigabe
        </div>
        <div class="card-body">

            <div class="table-wrapper-scroll-y">

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Email</th>
                            <th scope="col">Vorname</th>
                            <th scope="col">Nachname</th>
                            <th scope="col">Gesundheiteinrichtung</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ 
                            var i = 1;
                            foreach (var item in ViewBag.NewUsers) {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@item.Email</td>
                            <td>@item.Firstname</td>
                            <td>@item.Lastname</td>
                            <td>@item.Organisation</td>
                        </tr>
                                i++;
                                }
                            }
                    </tbody>
                </table>
                

            </div>
            
        
        
        </div>
        <button type="button" class="btn btn-success btn-sm" onclick="location.href='@Url.Action("Index", "AdminConsole")'">
            <i class="fa fa-check">
            </i>&nbsp; Zur Freigabe
        </button>
        </div>



            <div class="col-xl-12 card mb-4">
                <div class="card-header">
                    Statistik von registrierten Benutzern im laufenden Jahr
                </div>
                <div class="card-body">
                    <canvas id="dynamicChart" width="100%" height="30"></canvas>
                </div>
                <div class="card-footer small text-muted">Aktualisiert am @DateTime.Now</div>
            </div>



        </div>

        <script>

            var months = @Html.Raw(Json.Encode(ViewBag.Months));
            var monthsValues = @Html.Raw(Json.Encode(ViewBag.MonthsValues));


            new Chart(document.getElementById("dynamicChart"), {
                type: 'line',
                data: {
                    labels: months,
                    datasets: [
                      {
                          backgroundColor:  "#009999",
                          data: monthsValues
                      }
                    ]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: 'Statistik von registrierten Benutzer im laufenden Jahr'
                    }
                }
            });

        </script>
