@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Benutzer mit der Role";
}


<div>
    @Html.ActionLink("Zurück zu den Benutzer-Roles", "Index", null, new { @class = "btn btn-warning", @style = "color:white" }) | @Html.ActionLink("Zurück zu den Entitäten", "Index", "Management", null, new { @class = "btn btn-danger", @style = "background-color:#884dff" })
    <br />
    <br />
    <h4>Roles</h4>
    <hr />
    <dl class="dl-horizontal">
        <p><strong>
            @Html.DisplayNameFor(model => model.Name)
        </strong>
        </p>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p><strong>Die Benutzer in der Role</strong></p>
@if (ViewBag.UserCount == 0)
{
    <hr />
    <p>Keine Benutzer mit der Rolle</p>
}

<table class="table">

    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @item.UserName
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Ändern", "Edit", new { id = Model.Id }, new { @class="btn btn-warning",@style="color:white"})
    
</p>



