@model IdentitySample.Models.RoleViewModel

@{
    ViewBag.Title = "Die Role ändern";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ActionLink("Zurück zu den Rollen", "Index", null, new { @class = "btn btn-warning", @style = "color:white" }) | @Html.ActionLink("Zurück zu den Entitäten", "Index", "Management", null, new { @class = "btn btn-danger", @style = "background-color:#884dff" })
    </div>
    <br />
    <h4>Die Role ändern</h4>
    <br />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control",@placeholder="Rolle" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ändern" class="btn btn-warning" style="color:white" />
            </div>
        </div>
    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
