@model Sharpness.WebApp.Models.Sharpness_Persistence.Sharpness_Entities.Stain

@{
    ViewBag.Title = "Neue Färbung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<h4>Eine neue Färbung hinzufügen</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ActionLink("Zurück zu den Färbungen", "StainsManagement", null, new { @class = "btn btn-warning", @style = "color:white" }) | @Html.ActionLink("Zurück zu den Entitäten", "Index", null, new { @class = "btn btn-danger", @style = "background-color:#884dff" })
        <br />

        <h4 style="color:red">@ViewBag.Error</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Färbung" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="hinzufügen" class="btn btn-primary" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}