@model Sharpness.WebApp.Models.Sharpness_Persistence.Sharpness_Entities.WSI

@{
    ViewBag.Title = "Löschen den Bericht und WSI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Der Bericht zum WSi wirklich löschen?</h3>
<div>
    <h4>WSI-Eigenschaften</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
                
            UserName
             
        </dt>

        <dd>
            @ViewBag.User
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
           Beschreibung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Pfad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

        <dt>
            Zeitpunkt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-danger" /> |
            @Html.ActionLink("zurück zu den WSIs und Berichten", "WSIs", null , new { @class= "btn btn-info" })
        </div>
    }
</div>
