@model IEnumerable<Sharpness.WebApp.Models.Sharpness_Persistence.Sharpness_Entities.Reglament>

@{
    ViewBag.Title = "Schärfe-Kriterien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Ein neues Schärfekriterium hinzufügen + ", "CreateNewReglament", null, new { @class = "btn btn-success" }) | @Html.ActionLink("Zurück zu den Entitäten", "Index", null, new { @class = "btn btn-warning", @style = "color:white" })

</p><table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SharpnessThresholdValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scaling)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TileSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcceptanceValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharpnessThresholdValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scaling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TileSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcceptanceValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            
            <td>
                @Html.ActionLink("Ändern", "EditReglament", new { ReglamentId = item.ReglamentId }, new { @class= "btn btn-warning" }) |
                
                @Html.ActionLink("Löschen", "DeleteReglament", new { ReglamentId = item.ReglamentId },new { @class= "btn btn-danger" })
            </td>
        </tr>
    }

</table>
