@model SharpnessControlWebApp.Models.SharpnessViewModels
@{
    ViewBag.Title = "WSIs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Schärfe-Teste</strong>
        </div>
        <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Benutzer</th>
                        <th>Titel</th>
                        <th>Beshreibung</th>
                        <th>Pfad</th>
                        <th>Zeitpunkt</th>
                        <th>Bericht</th>
                        <th>Löschen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.WSIs)
                    {

                        <tr>

                            <td>@item.UserId</td>
                            <td>@item.Titel</td>
                            <td>@item.Description</td>
                            <td>@item.Path</td>
                            <td>@item.Creation</td>
                            <td>
                                <i class="fa fa-star"></i>  @Html.ActionLink("zum Bericht", "WSIToReport", "Dashboard", new { WSIId = item.WSIId }, null)
                            </td>
                            <td>@Html.ActionLink("Löschen", "DeleteWSIAndReport", "Management", new { WSIId = item.WSIId }, new { @class="btn btn-danger"})</td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



