@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}
<div class="form-horizontal">
    @Html.ActionLink("Zurück zu den Benutzern", "Index", null, new { @class = "btn btn-warning", @style = "color:white" }) | @Html.ActionLink("Zurück zu den Entitäten", "Index", "Management", null, new { @class = "btn btn-danger" })
</div>
<br />
<h4>Details</h4>
<br />

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><strong>Benutzer</strong></h5>
        <p class="card-text"> <strong>@Html.DisplayNameFor(model => model.UserName): </strong>@Html.DisplayFor(model => model.UserName)</p>
        <p><strong>Role:</strong></p>
        @if (ViewBag.RoleNames.Count == 0)
        {
            <hr />
            <p>No roles found for this user.</p>
        }
        @if (ViewBag.RoleNames.Count > 0)
        {
            foreach (var item in ViewBag.RoleNames)
            {
                <br />
                @item
            }
        }
    </div>
    @Html.ActionLink("Role vergeben / Email ändern", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning", @style = "color:white" })
</div>







