@model SharpnessControlWebApp.Models.SharpnessViewModels
@{
    ViewBag.Title = "Forschung -> Schärfe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="card mb-3">

    <div class="card-body">
        <canvas id="stainChart" width="100%" height="30"></canvas>
    </div>
    <div class="card-footer small text-muted">Aktualisiert am @DateTime.Now</div>
</div>

<div class="card mb-3">

    <div class="card-body">
        <canvas id="organChart" width="100%" height="30"></canvas>
    </div>
    <div class="card-footer small text-muted">Aktualisiert am @DateTime.Now</div>
</div>

<div class="card mb-3">

    <div class="card-body">
        <canvas id="tissueChart" width="100%" height="30"></canvas>
    </div>
    <div class="card-footer small text-muted">Aktualisiert am @DateTime.Now</div>
</div>

<div class="card mb-3">

    <div class="card-body">
        <canvas id="stain_organChart" width="100%" height="30"></canvas>
    </div>
    <div class="card-footer small text-muted">Aktualisiert am @DateTime.Now</div>
</div>








<div class="card mb-3">

    <div class="card-body">
        <canvas id="commonChart" width="100%" height="30"></canvas>
    </div>
    <div class="card-footer small text-muted">Aktualisiert am @DateTime.Now</div>
</div>






<script src="~/Assets/vendor/chart.js/Chart.bundle.min.js"></script>
<script>







    var stainsPos = @Html.Raw(Json.Encode(ViewBag.StainsPositive));
    var stainsValuesPos = @Html.Raw(Json.Encode(ViewBag.StainsValuesPositive));
    var stainsColorPos = @Html.Raw(Json.Encode(ViewBag.StainsColorPositive));
    var stainsNeg = @Html.Raw(Json.Encode(ViewBag.StainsNegative));
    var stainsValuesNeg = @Html.Raw(Json.Encode(ViewBag.StainsValuesNegative));
    var stainsColorNeg = @Html.Raw(Json.Encode(ViewBag.StainsColorNegative));

    new Chart(document.getElementById("stainChart"), {
        type: 'bar',
        data:
            {
                labels: stainsPos,stainsNeg,
            datasets: [
              {
                  backgroundColor: stainsColorPos,
                  data: stainsValuesPos,
              },
              {
                  backgroundColor: stainsColorNeg,
                  data: stainsValuesNeg,
              },
                      ]
            },



        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Statistik nach Färbungen'
            }
        }
    });


    var organsPos = @Html.Raw(Json.Encode(ViewBag.OrgansPositive));
    var organsValuesPos = @Html.Raw(Json.Encode(ViewBag.OrgansValuesPositive));
    var organsColorPos = @Html.Raw(Json.Encode(ViewBag.OrgansColorPositive));
    var organsNeg = @Html.Raw(Json.Encode(ViewBag.OrgansNegative));
    var organsValuesNeg = @Html.Raw(Json.Encode(ViewBag.OrgansValuesNegative));
    var organsColorNeg = @Html.Raw(Json.Encode(ViewBag.OrgansColorNegative));

    new Chart(document.getElementById("organChart"), {
        type: 'bar',
        data:
            {
                labels: organsPos,organsNeg,
                datasets: [
                  {
                      backgroundColor: organsColorPos,
                      data: organsValuesPos,
                  },
                  {
                      backgroundColor: organsColorNeg,
                      data: organsValuesNeg,
                  },
                ]
            },



        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Statistik nach Organen'
            }
        }
    });









    var tissuesPos = @Html.Raw(Json.Encode(ViewBag.TissuesPositive));
    var tissuesValuesPos = @Html.Raw(Json.Encode(ViewBag.TissuesValuesPositive));
    var tissuesColorPos = @Html.Raw(Json.Encode(ViewBag.TissuesColorPositive));
    var tissuesNeg = @Html.Raw(Json.Encode(ViewBag.TissuesNegative));
    var tissuesValuesNeg = @Html.Raw(Json.Encode(ViewBag.TissuesValuesNegative));
    var tissuesColorNeg = @Html.Raw(Json.Encode(ViewBag.TissuesColorNegative));

    new Chart(document.getElementById("tissueChart"), {
        type: 'bar',
        data:
            {
                labels: tissuesPos,tissuesNeg,
                datasets: [
                  {
                      backgroundColor: tissuesColorPos,
                      data: tissuesValuesPos,
                  },
                  {
                      backgroundColor: tissuesColorNeg,
                      data: tissuesValuesNeg,
                  },
                ]
            },



        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Statistik nach Geweben'
            }
        }
    });



    //common
    var commonPos = @Html.Raw(Json.Encode(ViewBag.CommonPositive));
    var commonValuesPos = @Html.Raw(Json.Encode(ViewBag.CommonValuesPositive));
    var commonColorPos = @Html.Raw(Json.Encode(ViewBag.CommonColorPositive));
    var commonNeg = @Html.Raw(Json.Encode(ViewBag.CommonNegative));
    var commonValuesNeg = @Html.Raw(Json.Encode(ViewBag.CommonValuesNegative));
    var commonColorNeg = @Html.Raw(Json.Encode(ViewBag.CommonColorNegative));


    new Chart(document.getElementById("commonChart"), {
        type: 'bar',
        data:
            {
                labels: commonPos,commonNeg,
                datasets: [
                  {
                      backgroundColor: commonColorPos,
                      data: commonValuesPos,
                  },
                  {
                      backgroundColor: commonColorNeg,
                      data: commonValuesNeg,
                  },
                ]
            },



        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'allegemeine Statistik'
            }
        }
    });


    var stain_organPos= @Html.Raw(Json.Encode(ViewBag.stain_organPositive));
    var stain_organValuesPos = @Html.Raw(Json.Encode(ViewBag.stain_organValuesPositive));
    var stain_organColorPos = @Html.Raw(Json.Encode(ViewBag.stain_organColorPositive));
    var stain_organNeg = @Html.Raw(Json.Encode(ViewBag.stain_organNegative));
    var stain_organValuesNeg = @Html.Raw(Json.Encode(ViewBag.stain_organValuesNegative));
    var stain_organColorNeg = @Html.Raw(Json.Encode(ViewBag.stain_organColorNegative));


    new Chart(document.getElementById("stain_organChart"), {
        type: 'bar',
        data:
            {
                labels: stain_organPos,stain_organNeg,
                datasets: [
                  {
                      backgroundColor: stain_organColorPos,
                      data: stain_organValuesPos,
                  },
                  {
                      backgroundColor: stain_organColorNeg,
                      data: stain_organValuesNeg,
                  },
                ]
            },



        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Statistik: Organ & Färbung'
            }
        }
    });




</script>